.sitetitle {
    text-transform: uppercase;
    font-weight: 700;
}
.title {
    font-size:  18px;
    font-weight: bold;
}

.searchbox {
    margin: 20px;
}
.news {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap; */
    border: 1px solid rgb(139, 136, 172);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(234, 240, 255, 0.651);
    margin-bottom: 20px;
    max-width: 1000px;
}

.imgArea {
    /* float: right; */
    width:200px;
    height:170px;
    text-align:center;
    overflow:hidden;    
}

/* .contentArea {
    float: left;
} */
 .pic {
    max-width: 300px;
    max-height: 300px;
    /* min-width:150px;
    max-width:none; 
    height:150px; */
    margin:0 -100%; 
} 

li {
    list-style: none;
}

/* .left-panel {
    background-color: peachpuff;
}

.right-panel {
    background-color: peachpuff;
} */

.container {
    max-width: 80vw;
}

@media screen and (max-width: 600px) {
    .news {
      display: flex;
      flex-direction: column;
    }
  }